table{
    width: 500px;
    
}
table tr{
    display: inline-flex;
    border: 1px solid #555 ;
    width: 100%;
    
   
}
table tr th{
    width: 10%;
    border-right: 1px solid #555 ;
    padding: 10px;
    margin-right: 10px; ;
}

table tr td{
    text-align: center;
    padding: 10px;
}



/* ------------------------------------------------------------------ */